
  <div>
    <h4><span>Toys</span></h4>
  </div>

<div>
  <table class="highlight">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>User</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @toys.each do |toy| %>
        <tr>
          <td><%= toy.name %></td>
          <td><%= toy.description %></td>
          <td><i class="material-icons">face</i><br><%= toy.user %></td>
          <td><%= link_to "edit", edit_toy_path(toy.id ), class: "waves-effect waves-light btn" %></td>
          <td><%= link_to "show", toy_path(toy.id), class: "waves-effect waves-light btn" %></td>
          <td><%= link_to "delete", toy_path(toy),
                method: :delete,
                data: { confirm: "Are you sure?" }, class: "waves-effect waves-light btn" %>
              </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

